/*
.form-wrapper {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-row-gap: 0.65em;
}

.form-wrapper input {
    max-width: 50px;
}
*/
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-row div {
    flex: 1;
}

.form-row div:nth-child(2) {
    text-align: right!important;
}

.form-row div.error {
    color: red;
}

.form-row div input[type=text] {
    text-align: right;
    border: 1px solid darkgrey;
    -webkit-box-shadow:
            inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
            inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
            inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 7px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    max-width: 110px;
}

.error-message {
    font-size: smaller;
}